flow_of_nodered.json
[{"id":"8a48ab61.7e6c48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"72a0f94b.ba5b08","type":"function","z":"8a48ab61.7e6c48","name":"PreToken","func":"global.set(\"rn\",msg.payload.rn)\nglobal.set(\"ci\",msg.payload.ci)\nglobal.set(\"sr\",msg.payload.sr)\nglobal.set(\"cr\",msg.payload.cr)\nglobal.set(\"ge\",msg.payload.ge)\nglobal.set(\"gn\",msg.payload.gn)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"np\",msg.payload.np)\nglobal.set(\"hc\",msg.payload.hc)\nglobal.set(\"im\",msg.payload.im)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"VVXR-H-RON4VkBTgTkGAqjTfzw6a6a-qmPQ4sgz74-zz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":360,"wires":[["2182155c.a6236a"]]},{"id":"2182155c.a6236a","type":"http request","z":"8a48ab61.7e6c48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":348.9999952316284,"wires":[["d463a6ff.c79ba8"]]},{"id":"9d81099d.aa1718","type":"inject","z":"8a48ab61.7e6c48","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105.5,"y":273.99999809265137,"wires":[["72a0f94b.ba5b08"]]},{"id":"362f0515.2260da","type":"debug","z":"8a48ab61.7e6c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"d463a6ff.c79ba8","type":"function","z":"8a48ab61.7e6c48","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar ci = global.get('ci')\nvar sr = global.get('sr')\nvar cr = global.get('cr')\nvar ge = global.get('ge')\nvar gn = global.get('gn')\nvar ag = global.get('ag')\nvar te = global.get('te')\nvar ba = global.get('ba')\nvar np = global.get('np')\nvar hc = global.get('hc')\nvar im = global.get('im')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"fd9e20a1-3bc5-4351-951b-5dcef022db76\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"], \"values\": [[rn,ci,sr,cr,ge,gn,ag,te,ba,np,hc,im,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":311.9999990463257,"wires":[["cbada053.f737b"]]},{"id":"cbada053.f737b","type":"http request","z":"8a48ab61.7e6c48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/57a3103b-a111-4f47-bb5e-e0d430d470d1/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":255.99999904632568,"wires":[["28c08ce1.7df274","362f0515.2260da"]]},{"id":"13596e1a.1b7552","type":"ui_form","z":"8a48ab61.7e6c48","name":"","label":"","group":"29f79417.c5b7bc","order":1,"width":0,"height":0,"options":[{"label":"RowNumber","value":"rn","type":"number","required":false,"rows":null},{"label":"CustomerId","value":"ci","type":"number","required":false,"rows":null},{"label":"Surname","value":"sr","type":"text","required":false,"rows":null},{"label":"CreditScore","value":"cr","type":"number","required":true,"rows":null},{"label":"Geography","value":"ge","type":"text","required":true,"rows":null},{"label":"Gender","value":"gn","type":"text","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Tenure","value":"te","type":"number","required":true,"rows":null},{"label":"Balance","value":"ba","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"np","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"hc","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"im","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"rn":"","ci":"","sr":"","cr":"","ge":"","gn":"","ag":"","te":"","ba":"","np":"","hc":"","im":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":402.9999952316284,"wires":[["72a0f94b.ba5b08"]]},{"id":"4bca9727.309f88","type":"ui_text","z":"8a48ab61.7e6c48","group":"29f79417.c5b7bc","order":2,"width":0,"height":0,"name":"","label":"Excited ","format":"{{msg.payload}}","layout":"row-spread","x":787.6000366210938,"y":408.20000743865967,"wires":[]},{"id":"28c08ce1.7df274","type":"function","z":"8a48ab61.7e6c48","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":151.60000133514404,"wires":[["4bca9727.309f88"]]},{"id":"29f79417.c5b7bc","type":"ui_group","z":"","name":"Telecom Customer Churn Prediction","tab":"fec178ff.fdea18","order":1,"disp":true,"width":"9","collapse":false},{"id":"fec178ff.fdea18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]